.jumbotron p {
    font-family: "Your Desired Font", sans-serif;
    
}
.custom-btn {
background-color: transparent;
border: none;
color: white;
font-size: 20px;
padding: 5px 15px;
}
#messageContainer {
text-align: center;
font-size: 25px;
font-weight: bold;
}
#messageContaine {
text-align: center;
font-size: 20px;
font-weight: bold;
}
#icon {
display: flex;
justify-content: center; 
align-items: center; 
font-size: 100px;
}
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination-container button {
    background-color: #d4a017; /* Bootstrap primary blue */
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-container button:hover {
    background-color: #ffcc00; /* Darker blue */
}

.pagination-container button:disabled {
    background-color: #ffcc00; /* Gray for disabled */
    cursor: not-allowed;
}

.pagination-container button:disabled:hover {
    background-color: #ffcc00;
}

.pagination-container button.active {
    background-color: #004085; /* Darker blue */
    color: white;
    font-weight: bold;
}
.btn-outline-info {
    background-color: #d4a017 !important; /* Dark Yellow */
    color: white !important;
    border: none !important;
    padding: 8px 15px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.btn-outline-info:hover {
    background-color: #ffcc00 !important; /* Bright Yellow */
    transform: scale(1.1); /* Slightly enlarges */
}
